[Unit]
Description=Vector - High-performance log collection agent
Documentation=https://vector.dev/docs/
After=network.target
Wants=network-online.target

[Service]
User=root
ExecStart=/usr/bin/vector --config {{ vector_config_dir }}/vector.yml
ExecReload=/bin/kill -HUP $MAINPID
TimeoutSec=60
Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
